.receipt-entry .sr-no-cell {
    padding: 5px 6px;
}
.receipt-entry .ant-table-container table>thead>tr:first-child >*:first-child {
    border-left: 0;
}
.receipt-entry .ant-table-container table>tbody>tr:last-child >td {
    border-bottom: 0 !important;
}
.receipt-entry .ant-table-wrapper .ant-table.ant-table-bordered >.ant-table-container >.ant-table-content >table >thead>tr>th {
    border-top: 0px;
}
.receipt-entry .ant-table-wrapper .ant-table-tbody >tr >td {
    border-bottom: 1px solid #d5d5d5 !important;
    border-inline-end: 1px solid #d5d5d5 !important;
}
.receipt-entry .ant-table-container table>tbody>tr >*:last-child {
    border-inline-end: 0px !important;
}

.receipt-entry .ant-card {
    margin-bottom: 1rem;
}

.receipt-entry .ant-form-item-margin-offset {
    margin-bottom: 0 !important;
    padding-bottom: 0.5rem !important;
}

.receipt-entry .ant-card-body {
    padding: 0px 15px 15px 15px !important;
}

.receipt-entry .ant-card-head {
    border-bottom: none !important;
}

.receipt-entry .ant-card-head-title {
    color: var(--primary-color);
    font-size: 1.2rem;
}

.receipt-entry .ant-card-head {
    padding: 0 1rem !important;
}

.receipt-entry .amount-tbl .ant-table-tbody .ant-table-cell {
    padding: 5px !important;
}
.receipt-entry .footer-wrapper {
    width: 100%;
    display: flex;
}
.receipt-entry .footer-label {
    margin-left: 15px;
    width: 76%;
    text-align: end;
    font-size: 1rem;
    font-weight: 600;
}
.receipt-entry .footer-value {
    margin-left: 15px;
    text-align: start;
    font-size: 1rem;
    font-weight: 600;
}
.receipt-entry .ant-table-footer {
    border: 1px solid #9DCBED !important;
    border-top: 0px !important;
    padding: 8px !important;
}
.receipt-entry .ant-table-container {
    border-radius: 8px 8px 0 0 !important;
}
.receipt-entry .payment.ant-select-outlined.ant-select-disabled:not(.ant-select-customize-input) .ant-select-selector {
    background-color: transparent !important;
    color: inherit !important;
}
.receipt-entry .ant-table-container {
    border-radius: 8px !important;
}
.receipt-entry .ant-table-wrapper .ant-table-tbody >*:nth-last-child(2) >td {
    border-bottom: 1px solid #9DCBED !important;
}
.receipt-entry .ant-table-wrapper .ant-table-tbody >*:nth-last-child(1) >td {
    background-color: #f7f7f7 !important;
}
.receipt-entry .ant-table-wrapper .ant-table-tbody >*:nth-last-child(1) >td:first-child {
    border-bottom-left-radius: 8px !important;
}
.receipt-entry .ant-table-wrapper .ant-table-tbody >*:nth-last-child(1) >td:last-child {
    border-bottom-right-radius: 8px !important;
}
.receipt-entry .total-row {
    font-weight: 500;
    font-size: 15px;
    padding: 1px 5px
}