body {
    background-color: #F8FAFC;
}

h3 {
    color: #0086E8;
    font-size: 34px;
    font-weight: 900;
    margin-bottom: 20px;
}

.login-card {
    background-image: url(../../assets/images/Maskgroup.png) ;
    background-size: 100% 100%;
}

.login-label {
    color: var(--primary-color);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}

.login-msg {
    color: #898989;
    font-size: 14px;
    margin-bottom: 25px;
}

.btn {
    background-color: #0086E8;
    color: white;
}

.btn:hover {
    background-color: #1767c9;
    color: white;
}

.login-card-body {
    padding: 10px 20px
}
.login-card-body .ant-card-body {
    width: 450px;
    min-width: 200px;
}

.login-logo {
    font-weight: 700;
    font-size: 45px;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.login-form-label {
    font-weight: 600;
}

.login-error-msg {
    padding-top: 20px;
    color: #ff0000;
    text-align: center;
}



