.registration-form .registration-title {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 5px;
    line-height: 1.2;
}

.registration-form .partial-sve-btn {
    margin: 2rem;
}

.registration-form .ant-card.rto-card {
    padding-bottom: 1rem;
    border: 2px solid rgba(184, 183, 183, 0.386);
}

.registration-form .ant-form-item-margin-offset {
    margin-bottom: 0 !important;
    padding-bottom: 0.5rem !important;
}

.registration-form .ant-card-body {
    padding: 0 1rem!important;
}

.application-modal-title {
    font-size: 17px;
    font-weight: 500;
    color: var(--primary-color);
}
.application-modal-text {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #212529;
}
.registration-form .title {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 15px;
    line-height: 1.2;
}
.registration-form .rto-card {
    margin-top: 10px;
    margin-bottom: 20px;
}