.H2-heading{
    padding: 1.5rem 1rem 0 0;
    margin-left: 0;
}

.str-blu-titl{
    color: #0086e8 !important;
    font-weight: 600 !important;
}

.str-srhc-btn{
    margin: 3rem 0 1rem 0 ;
}

.srt-blu-srhc-btn{
    padding: 1rem 2rem 1rem 2rem;
}

.str-str-btn{
    margin: 1.5rem 0 2rem 0;
}

.str-blu-str-btn1{
    padding: 1rem 1.5rem 1rem 1.5rem;
}