body {
    background-color: #F8FAFC;
}

h3 {
    color: #0086E8;
    font-size: 34px;
    font-weight: 900;
    margin-bottom: 20px;
}

.login-card {
    background-image: url(../../assets/images/Maskgroup.png) ;
    background-size: 100% 100%;
}

.update-card-body {
    padding: 10px 20px
}
.update-card-body .ant-card-body {
    width: 450px;
    min-width: 200px;
}

.update-label {
    color: var(--primary-color);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}

.update-msg {
    color: #898989;
    font-size: 14px;
    margin-bottom: 25px;
}
